html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pro-menu-item {
  color: white;
  padding: 0.75rem 1rem;
  user-select: none;
  border: 1px solid #444;
  margin: 0.25rem 1rem;
  border-radius: 6px;
  background-color: #222;
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
}


.leaflet-container {
  background: transparent !important; /* elimina sfondo grigio di default */
}

.login-background {
  background-image: url('https://i.gifer.com/1zfb.gif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.stat-item {
  background-color: #1e1e1e;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  font-size: 0.95rem;
  line-height: 1.4;
  transition: background 0.3s;
}

.stat-item:hover {
  background-color: #2a2a2a;
}

.grid-item {
  background-color: #1a1a1a;
  color: white;
  padding: 0.3rem; /* esempio di padding */
  border-radius: 6px;
  border: 1px solid #444;
}

.sidebar-scrollable {
  overflow-y: scroll;
  overscroll-behavior: contain; /* oppure auto */
  scroll-padding-bottom: 50px; /* aggiusta quanto vuoi */
}

